@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Roboto", 'monospace';
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.desc {
	display: flex;
}

.time {
	font-size: 5em;
	
}
